@media (max-width: 360px) {
    .home_container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .home_container .info h1 {
        font-size: 3rem;
    }

    .home_container .info h1 span {
        font-size: 3.5rem;
    }

    .home_container .info p {
        font-size: 1.4rem;
        line-height: 2.5rem;
    }

    .home_container .image {
        height: 300px;
        width: 100%;
        margin-bottom: 2rem;
    }

    .home_container .image .test {
        font-size: 1.8rem;
    }

    .home_container .image .btn {
        font-size: 1.5rem;
        padding: .81rem .8rem;
    }
    
    .main {
       margin-top: 10rem; 
       margin-bottom: 2rem;
    }
    .idioma_container  h1 {
        font-size: 2.5rem;
    }

    .idioma_container--menu .toggle-button  #toggle-icon {
        width: 1.5rem;
        height: 1.5rem;
    }

    .idioma_container--menu h3 {
        font-size: 1.8rem;
    }

    .idioma_texto .idioma_texto--primario {
        flex-direction: column;
        margin: 0;
        margin-bottom: .5rem;
    }

    .idioma_texto .idioma_texto--primario-texto p, .idioma_texto .idioma_texto--secundario p {
        font-size: 1.3rem;        
    }

    .idioma_texto .idioma_texto--primario-texto ul, .idioma_texto .idioma_texto--secundario ul {
        padding-left: 3rem;
        margin: 0;
    }

    .idioma_texto .idioma_texto--primario-texto ul li, .idioma_texto .idioma_texto--secundario ul li {
        font-size: 1.2rem;
        margin: .5rem;
    }

    .idioma_texto .idioma_texto--primario-img-img {
        width: 85%;
        height: auto;
        margin-bottom: 1rem;
    }

    .idioma_texto .idioma_texto--secundario  h5 {
        font-size: 1.5rem;
        text-align: center;
    }

    .idioma_texto .idioma_texto--linck a button {
        font-size: 1.8rem;
        margin-top: 1rem;
    }
     
    .section_footer--container {
        display: flex;
        flex-direction: column-reverse;
    }
    
    .section_footer--social {
        width: 100%;
        padding-left: 0;
        align-items: center;
    }

    .section_footer--social p {
        text-align: center;
        font-size: 1.3rem;
    } 

    .section_footer--text   {
        width: 95%;
        font-size: 1.3rem;
        line-height: 1.3;
        padding: 1rem;
        text-align: justify;
    }

    .section_footer--subescribe {
        width: 95%;
        margin: 1rem;
         padding-bottom: 1rem;   

    }       
}

@media (min-width: 361px) and (max-width: 865px) {
    .home_container {
        display: flex;
        flex-direction: column;
    }

    .home_container .info h1 {
        font-size: 3rem;
    }

    .home_container .info h1 span {
        font-size: 3.5rem;                
    }

    .home_container .info p {
        font-size: 1.6rem;
        line-height: 1.6;
    }

    .home_container .image {
        width: 100%;
        height: 40rem;       
        margin-bottom: 2rem;
    }


    .home_container .image .test {
        text-align: center;
        font-size: 2.6rem;
    }

    .home_container .image .btn {
        font-size: 1.5rem;
        padding: 1rem ;
    }

 
    .main {
        margin-top: 10rem;
        margin-bottom: 2rem;
    }

    .idioma_container  h1 {
        font-size: 3.2rem;
    }

    .idioma_container--menu .toggle-button  #toggle-icon {
        width: 2.5rem;
        height: 2.5rem;
    }

    .idioma_container--menu h3 {
        font-size: 2.3rem;
    }

    .idioma_texto .idioma_texto--primario, .idioma_texto .idioma_texto--secundario {
        flex-direction: column;
        margin: 0;
        margin-bottom: .5rem;
        padding-right: 2rem;
    }

    .idioma_texto .idioma_texto--primario-texto p, .idioma_texto .idioma_texto--secundario p {
        font-size: 1.5rem;        
    }

    .idioma_texto .idioma_texto--primario-texto ul, .idioma_texto .idioma_texto--secundario ul {
        padding-left: 3rem;
        margin: 0;
    }

    .idioma_texto .idioma_texto--primario-texto ul li, .idioma_texto .idioma_texto--secundario ul li {
        font-size: 1.5rem;
        margin: .5rem;
    }

    .idioma_texto .idioma_texto--primario-img-img {
        width: 90%;
        height: auto;
        margin-bottom: 1rem;
    }

    .idioma_texto .idioma_texto--secundario  h5 {
        font-size: 1.7rem;
        text-align: center;
    }

    .idioma_texto .idioma_texto--linck a button {
        font-size: 2rem;
        margin-top: 1rem;
    }

    .section_footer--container {
        display: grid;
        grid-template-columns: 25% 40% 35% ; 
        gap: 1rem;
    }

    .section_footer--social {
        width: 80%;    
        padding-left: .5rem;
    }

    .section_footer .section_footer--social-item-icon{
       width: 15%;       
       gap: .5rem;
    }
 
    .section_footer--social p{
       font-size: 1rem ;
       text-align: center;
    }
    .section_footer .section_footer--text{
       margin: 10px 0 10px 0;
       width: 80%;
    }
    .section_footer .section_footer--text p {
        font-size: 1.2rem;
       text-align: justify;
    }
 
    .section_footer .section_footer--subescribe{
       width: 70%;
       margin-left: 5%;
    }
    .section_footer .section_footer--subescribe input{
       width: 70%;
    }
 
    
 }
  