.image .btn {
    background-color: var(--bg-btn);
    color: var(--text-btn);
    border: none;
    border-radius: 2rem;
    padding: 2rem 3rem;
    font-size: 2.6rem;
    font-weight: 800;
    font-style: italic;
    cursor: pointer;
    text-transform: uppercase;    
}

.section_footer--subescribe .btn {
    background-color: var(--bg-btn);
    color: var(--text-btn-dark);
    border: none;
    border-radius: 2rem;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    font-weight: 800;
    font-style: italic;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
}

.idioma_texto  a {
    text-decoration: none;   
}

.idioma_texto a button {
    border:  none;
    background-color: transparent;
    color: var(--text-btn-secundario);
    font-weight: 700;
    font-size: 2rem;
    cursor: pointer;
    font-style: italic;
}

.contatos .btn {
    background: var(--bg-btn); 
    color: #fff;
    border: none;
    border-radius: 1rem;
    padding: 10px 40px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 210px; 
    margin-top: 2rem;
}

.contato btn:hover {
    background: var(--bg-menu); 
}