footer {
    background-color: var(--bg-menu);
    display: flex;
    margin-top: auto;
}
.section_footer--social-icons {
  gap: 2rem;
}

.section_footer--social-item-icon a {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 3rem;
   height: 3rem;
   border-radius: 50%;
   background-color: #333131;
   text-decoration: none;
   
}
.section_footer--social p {
   color: var(--text-primario);
   margin-top: 5rem;
   font-size: 1.5rem;
   line-height: 1.5;
   text-transform: uppercase;
}

.section_footer--text  p{
   color: var(--text-primario);
   font-size: 1.5rem;
   line-height: 1.3;
   text-align: justify;
}

.form-label {
   font-size: 1.5rem;
   color: var(--bg-primario);
}

