@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Revolution&display=swap');

* {
  box-sizing: border-box; 
}
:root {
    font-size: 16px; 
    font-size: 62.5%;
    --bg-menu: #39FF85;
    --bg-secundario: #13E061;
    --bg-btn: #009640;
    --bg-body: #F4F2EE;
    --text-primaria: #000000;
    --text-secundaria: #ffffff;   
    --text-btn: #FFED00;
    --text-btn-secundario: #009640;
    --text-terciario: #9D5957;
}
  
  body, button, input, label, h1, h2, h3, h5, h6, p{
    font-family: "Poppins", serif;
  }

  span {
    font-family: "Protest Revolution", serif;
  }

  body{
    display: flex; 
    flex-direction: column; 
    min-height: 100vh; 
    background-color: var(--bg-body);
}