.header {
  width: 100vw;
  background-color: var(--bg-menu);
  position: fixed;
  top: 0;
}

.menu ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}

.menu ul li a {
  color: var(--text-primaria);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2rem;
  display: flex;
  align-items: center;
}
